<h1>Tạo sinh viên mới</h1>
<form [formGroup]="studentForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Mã sinh viên:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sinh viên:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giới tính</td>
      <td><input type="text" formControlName="gender"></td>
    </tr>
    <tr>
      <td>Địa chỉ</td>
      <td><input type="text" formControlName="address"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Tạo mới</button></td>
    </tr>
  </table>
</form>
