<div>
  <h2>Article Information</h2>
  <table>
    <tr>
      <td>Title:</td>
      <td><textarea [(ngModel)]="article.title" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="article.url" cols="70"></textarea>
      </td>
    </tr>
  </table>
</div>
<hr>

<body>
<div class="container mt-4">
  <div class="row w-50 mx-auto">
    <div class="col-lg-10">
      <input class="form-control" type="text" id="keyword">
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary" id="btnSearch">Search</button>
    </div>
  </div>
  <div class="row w-100 mx-auto mt-4">
    <div class="col-lg-12">
      <h2>List article</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Link</th>
          <th scope="col">Like</th>
        </tr>
        </thead>
        <tbody *ngFor="let art of articles, let i = index">
        <th>{{i+1}}</th>
        <td>{{art.title}}</td>
        <td><a href="{{art.url}}" target="_blank">{{art.title}}</a></td>
        <td>
          <app-like></app-like>
        </td>
        </tbody>
      </table>
    </div>
  </div>
</div>

