<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.com" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar progress="40"></app-progress-bar>-->
<!--<app-todo></app-todo>-->
<!--<router-outlet></router-outlet>-->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a><br>-->

<!--<a routerLink="/youtube">Youtube</a><br>-->

<!--<a routerLink="/product/list">Danh sách sản phẩm</a>|<a routerLink="/product/create">Tạo mới sản phẩm</a>-->

<!--<router-outlet></router-outlet>-->
<app-image-gallery></app-image-gallery>
